@{
    ViewData["Title"] = "Connexion";
}

@model PatientModel

<h1>Connexion</h1>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="~/css/Connexion.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>
<body>
    <div class="wrapper">
        <form action="#">
            <div class="field email">
                <div class="input-area">
                    <input type="text" placeholder="ID Utilisateur">
                    <i class="icon fas fa-user"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Ce champ ne peut pas être vide</div>
            </div>
            <div class="field password">
                <div class="input-area">
                    <input type="password" placeholder="Mot de Passe">
                    <i class="icon fas fa-lock"></i>
                    <i class="error error-icon fas fa-exclamation-circle"></i>
                </div>
                <div class="error error-txt">Ce champ ne peut pas être vide</div>
            </div>
            <div class="pass-txt"><a href="#">Mot de passe oublié?</a></div>
            <input type="submit" value="Se Connecter">
        </form>
        <div class="sign-txt">Vous n'avez pas de compte? <a href="">S'inscrire</a></div>
    </div>
</body>
</html>
