@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleForm.css" />
</head>
<body>
    <center>
        <h1>Formulaire Medecin</h1>
    </center>
    <div>
        <br />
        <div class="row">
            <div class="column"></div>
            <div class="column">
                <form>
                    <div class="form-group row">
                        <label for="Nom" class="col-4 col-form-label">Nom</label>
                        <div class="col-8">
                            <input id="Nom" name="Nom" placeholder="Nom" type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label for="Prenom" class="col-4 col-form-label">Prenom</label>
                        <div class="col-8">
                            <input id="Prenom" name="Prenom" placeholder="Prenom" type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label for="Email" class="col-4 col-form-label">Email</label>
                        <div class="col-8">
                            <input id="Email" name="Email" placeholder="Email" type="text" class="form-control" required="required">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <label for="password" class="col-4 col-form-label">Mot de passe</label>
                        <div class="col-8">
                            <input id="password" name="password" placeholder="Mot de passe" type="password" class="form-control" required="required">
                        </div>
                    </div>
                    <br />
                    <div class="form-group row">
                        <div class="offset-4 col-8">
                            <button asp-controller="Authentification" asp-action="EnregistrementMedecin" class="btn btn-secondary btn-lg center">Soumettre</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="column"></div>
        </div>
    </div>
</body>
</html>
