
@{
    ViewData["Title"] = "Login";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleForm.css">
</head>
<body>
<center>
<h1>Connexion Patient</h1>
</center>
<br />
<div class="row">
    <div class="column"></div>
    <div class="column">
            @if (ViewBag?.messageErreur != null)
            {
            <div class="alert alert-danger" role="alert">
                <strong>@ViewBag.messageErreur</strong>
            </div>
            }
            <div>
            <form type="post">
                 
                <div class="form-group row">
                    <label for="Id" class="col-4 col-form-label">Id</label>
                    <div class="col-8">
                        <input id="Id" name="Id" type="text" class="form-control" placeholder="ID Patient">
                    </div>
                </div>
                <br />
                <br />
                <div class="form-group row">
                    <label for="password" class="col-4 col-form-label">Mot de passe</label>
                    <div class="col-8">
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password">
                                <i class="bi bi-eye-slash"
                                   id="togglePassword"></i>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="offset-4 col-8">
                        <br />
                                <button asp-controller="Authentification" asp-action="SeConnecter" class="btn btn-secondary btn-lg center">Se connecter</button>
                    </div>
                </div>
            </form>
            </div>
    </écenter>
     <script>
        const togglePassword = document
            .querySelector('#togglePassword');

        const password = document.querySelector('#password');

        togglePassword.addEventListener('click', () => {

            // Toggle the type attribute using
            // getAttribure() method
            const type = password
                .getAttribute('type') === 'password' ?
                'text' : 'password';

            password.setAttribute('type', type);

            // Toggle the eye and bi-eye icon
            this.classList.toggle('bi-eye');
        });
    </script>
</body>
</html>