@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a asp-controller="Prescription" asp-action="VoirPrescription" asp-route-id="3">Demo : Prescription avec ID 3</a><br />
    <a asp-controller="Prescription" asp-action="VoirPrescription" asp-route-id="2">Demo : Prescription avec ID 2</a><br />
    <a asp-controller="Prescription" asp-action="VoirPrescription" asp-route-id="1">Demo : Prescription avec ID 1</a>
</div>
