@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core MVC</a>.</p>
    <a asp-controller="Dossier" asp-action="VoirDossier" asp-route-id="1">Demo : Dossier avec ID 1</a><br />
    <a asp-controller="Dossier" asp-action="VoirDossier" asp-route-id="2">Demo : Dossier avec ID 2</a><br />
    <a asp-controller="Dossier" asp-action="VoirDossier" asp-route-id="3">Demo : Dossier avec ID 3</a>
</div>
